* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fisrt-screen {
  display: flex;
  justify-content: center;
}

.form-sec, .card-sec {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  height: 100vh;
  justify-content: center;
}

input {
  padding: 10px;
}

form, form label {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  background-color: rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  height: 500px;
  position: relative;
  width: 350px;
}

.card-title {
  position: absolute;
}

.card-image {
  height: 80%;
  width: 90%;
}
